server {
  listen 80;
  server_name {{ git_clone_laravel_fqdn }};
  root {{ git_clone_laravel_document_root }};
  index index.php index.html;
  # return 301 https://$host$request_uri;

  location / {
       root {{ git_clone_laravel_document_root }};
       index  index.php index.html index.htm;
 }

  location ~* \.php(/|$) {
     root {{ git_clone_laravel_document_root }};
     try_files      $uri =404;
     fastcgi_pass   unix:/run/php-fpm/www.sock;
     fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
     include        fastcgi_params;
    }
}
