server {
  listen 80;
  server_name {{ git_clone_laravel_fqdn }};
  root {{ git_clone_laravel_document_root }};
  index index.php index.php;
  return 301 https://$host$request_uri;

  location / {
       root {{ git_clone_laravel_document_root }};
       index  index.html index.htm index.php;
 }

  location ~* \.php(/|$) {
     root {{ git_clone_laravel_document_root }};
     try_files      $uri =404;
     fastcgi_pass   unix:/run/php-fpm/www.sock;
     fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
     include        fastcgi_params;
    }

}

{% if git_clone_laravel_ssl %}
server {
  listen 443 ssl;
  ssl_certificate     /etc/pki/tls/certs/{{ git_clone_laravel_fqdn }}/{{ git_clone_laravel_fqdn }}.crt;
  ssl_certificate_key /etc/pki/tls/certs/{{ git_clone_laravel_fqdn }}/{{ git_clone_laravel_fqdn }}.key;
  server_name {{ git_clone_laravel_fqdn }};
  add_header X-Frame-Options "SAMEORIGIN";
  add_header X-XSS-Protection "1; mode=block";
  add_header X-Content-Type-Options "nosniff";
  index index.php;
  charset utf-8;

  location / {
     #try_files $uri $uri/ /index.php?$query_string;
     try_files $uri $uri/ /index.php$is_args$args;

  }

  location = /favicon.ico { access_log off; log_not_found off; }
  location = /robots.txt  { access_log off; log_not_found off; }

  error_page 404 /index.php;

  root {{ git_clone_laravel_document_root }};
  index index.php;

  location ~ \.php$ {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/run/php-fpm/www.sock;
      fastcgi_index index.php;
      include fastcgi_params;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_param PATH_INFO $fastcgi_path_info;
  }
}
 {% endif %}
